body{
	text-align:center;
	background-color:grey;
	}
nav {
	width:100%;
	background-color:#cc55cc;
	height:38px;
	margin-top:0px;
	border:1px solid black;
	border-radius:5px;
}
nav p {
	display:inline;
	border:1px solid black;
	border-radius:3px;
	padding:5px;
	text-align:center;
	float:left;
	margin-top:3px;
	background-color:grey; 
	margin-left:30px;
	width:120px;
	box-shadow:2px 2px 2px black;
}
nav a {
	text-decoration:none;
	color:white;
}
nav a:hover {
	font-style:italic;
	color:black;
}
.primerElemento {
	margin-left:40px;
}
#contenedor {
	width:1024px;
	margin:auto;
	box-shadow:5px 5px 2px black;
	border-radius:5px;
}
img{
	background-size:1024px 400px;
	width:1024px;
	height:400px;
	border-radius:5px;
	box-shadow:5px 5px 2px black;
}
#cuerpoLibro{
	visibility:hidden;
	display:none;
}
#cuerpoDisco{
	visibility:hidden;
	display:none;
}
#cuerpoPelicula{
	visibility:hidden;
	display:none;
}