
.input_text {  
    background:#FFF;  
    width:150px;  
    height:22px;  
    line-height:22px;  
    padding:4px;  
    border:1px solid #999;  
}  
  
.input_text_encima {  
    width:148px;  
    height:20px;  
    line-height:20px;  
    border:2px solid #00CC00;  
    color:#009900;  
}  
  
.input_text_dentro {  
    width:148px;  
    height:20px;  
    line-height:20px;  
    border:2px solid #00CC00;  
    color:#000000;  
    background:#e3e3e3;  
}  
  
.input_text_error {  
    width:148px;  
    height:20px;  
    line-height:20px;  
    border:2px solid #FF0000;  
    color:#FF0000;  
}  
